<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout=http://www.ultraq.net.nz/thymeleaf/layout
      layout:decorate="~{layout/default}">>

<div layout:fragment="content-fragment" class="container-fluid flex-grow-1 container-p-y">
  <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">EXHIBITION / TICKET /</span> ADD</h4>
  <form id="modify-form" onsubmit="return false">

    <div class="card mb-3">
      <h5 class="card-header">TICKET</h5>
      <div class="card-body">
        <div class="row">

          <div class="col-12">
            <div class="mb-3">
              <label class="form-label" for="ticketInfo">NAME</label>
              <input type="text" class="form-control" autocomplete="false" name="ticketInfo" id="ticketInfo" placeholder="Name">
            </div>
          </div>

          <div class="col-6">
            <div class="mb-3">
              <label class="form-label" for="typeCode">type</label>
              <select class="form-select" name="typeCode" id="typeCode">
                <option value="ELBD">Early bird</option>
                <option value="RGLR">Regular</option>
              </select>
            </div>
          </div>

          <div class="col-6">
            <div class="mb-3">
              <label class="form-label" for="ticketName">BADGE TYPE</label>
              <input type="text" class="form-control" autocomplete="false" name="ticketName"  id="ticketName" placeholder="Badge Type">
            </div>
          </div>

          <div class="col-6">
            <div class="mb-3">
              <label class="form-label" for="startDate">SALES START</label>
              <input type="text" class="form-control" autocomplete="false" name="startDate" id="startDate">
            </div>
          </div>

          <div class="col-6">
            <div class="mb-3">
              <label class="form-label" for="endDate">SALES END</label>
              <input type="text" class="form-control" autocomplete="false" name="endDate" id="endDate">
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="card mb-3">
      <h5 class="card-header">PRICE</h5>
      <div class="card-body">
        <table id="datatable" class="border-0"></table>
      </div>
    </div>

    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-6">

          </div>
          <div class="col-6">
            <div class="row justify-content-end">
              <div class="col-auto">
                <button type="button" class="btn btn-secondary me-1" id="btn-cancel"><i class='bx bx-exit' ></i> Cancel</button>
                <button type="button" class="btn btn-primary" id="btn-save"><i class='bx bx-save' ></i> Save</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>

  <script src="/static/js/exhibition/ticket/ticket-write.js" defer></script>
</div>

</html>