<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout=http://www.ultraq.net.nz/thymeleaf/layout
      layout:decorate="~{layout/default}">>

<div layout:fragment="content-fragment" class="container-fluid flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">BOARD /</span> NEWSLETTER</h4>

    <div class="card mb-3">
        <div class="card-body">
            <div class="row">
                <div class="col-6">
                    <div class="col-8">

                        <div class="mb-2 row">
                            <label class="col-md-2 search-form-label">STATUS</label>
                            <div class="col-md-10 d-flex align-items-center">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="disabled" id="status1" value="A" checked>
                                    <label class="form-check-label" for="status1">All</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="disabled" id="status2" value="E">
                                    <label class="form-check-label" for="status2">PUBLISHED</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="disabled" id="status3" value="D">
                                    <label class="form-check-label" for="status3">UNPUBLISHED</label>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <label for="search-type" class="col-md-2 search-form-label">KEYWORD</label>
                            <div class="col-3">
                                <select id="search-type" class="form-select">
                                    <option value="T" selected>TITLE</option>
                                    <!--/* <option value="C">CONTENT</option> */-->
                                </select>
                            </div>
                            <div class="col-7 ps-1">
                                <input type="text" class="form-control" value="" placeholder="Keyword" id="search-text">
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                    </div>
                </div>
                <div class="col-6 d-flex justify-content-end">
                    <div class="row align-items-end">
                        <div class="col-auto">
                            <button  class="btn btn-outline-primary" id="btn-search"><i class='bx bx-search' ></i> Search</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="card mb-1">
        <div class="card-body">
            <div class="row">
                <div class="col-6">
                </div>
                <div class="col-6">
                    <div class="row justify-content-end">
                        <div class="col-auto">
                            <button class="btn btn-primary" id="btn-registry"><i class='bx bx-edit'></i> Add</button>
                        </div>
                    </div>
                </div>
            </div>
            <table id="datatable" class="table table-hover"></table>
        </div>
    </div>




    <script src="/static/js/board/newsletter/newsletter.js" defer></script>
</div>

</html>