<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout=http://www.ultraq.net.nz/thymeleaf/layout
      layout:decorate="~{layout/default}"
>

<section layout:fragment="content-fragment">
  <!--/*become sponsor section*/-->
  <section class="component">
    <div class="component__div">
      <h1 class="component__title-font--big">BECOME A SPONSOR</h1>
      <h2 class="component__title-font--middle">Join powerful partnership program and Maximize marketing opportunities at World of Coffee Bangkok 2026</h2>
      <div class="d-flex flex-column flex-md-row justify-content-md-center gap-3 pt-3">
        <a download href="#" class="component__button--primary-one component__button--primary-inherit w-md-380px gap-2" id="sponsorshipDownload">
          <span>SPONSORSHIP PROGRAM BOOK</span>
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M22 14.2003L22 20.3242C22 20.477 21.9042 20.6001 21.7851 20.6001H2.21484C2.09582 20.6001 2 20.477 2 20.3242V14.2003M12 3.17822L12 17.1782M12 17.1782L6.74117 11.8054M12 17.1782L17.2588 11.8054" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </a>
        <a href="/contact-us" class="component__button--primary-one component__button--primary-dark w-md-380px gap-2">
          <span>CONTACT US</span>
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M18.996 5.00348L5.00293 18.9965M18.996 5.00348H6.40228M18.996 5.00348L18.996 17.5972" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </a>
      </div>
    </div>
  </section>
  
  <!--/*현재 partners section*/-->
  <section class="component">
    <div class="component__div">
      <h1 class="component__title-font--big">2025 PARTNERS</h1>
      <h2 class="component__title-font--middle">World of Coffee Jakarta is proudly supported by</h2>

      <!--/*Platinum Sponsor*/-->
      <div>
        <h4 class="pb-3">Platinum Sponsor</h4>
        <div class="d-grid gap-3" style="grid-template-columns: repeat(1, 1fr);">
          <a target="_blank" href="https://roemahkoffie.co.id/" class="component__button--primary-three component__button--primary-three--big">
            <img src="https://kr.object.ncloudstorage.com/bucket-exporum-dev/woc/test-for-jakarta/logo/new/roemah.png" alt="..." draggable="false" loading="lazy" decoding="async"/>
          </a>
        </div>
      </div>
      <!--/*Diamond Sponsor*/-->
      <div>
        <h4 class="pb-3">Diamond Sponsor</h4>
        <div class="d-grid gap-3" style="grid-template-columns: repeat(1, 1fr);">
          <a target="_blank" href="https://32dobali.com/" class="component__button--primary-three component__button--primary-three--middle">
            <img src="https://kr.object.ncloudstorage.com/bucket-exporum-dev/woc/test-for-jakarta/logo/new/32%EB%8F%84.png" alt="..." draggable="false" loading="lazy" decoding="async"/>
          </a>
        </div>
      </div>
      <!--/*Gold Sponsor*/-->
      <div>
        <h4 class="pb-3">Gold Sponsor</h4>
        <div class="d-grid gap-3" style="grid-template-columns: repeat(3, 1fr);">
          <a target="_blank" href="https://www.cimbaligroup.com/en/" class="component__button--primary-three component__button--primary-three--small">
            <img src="https://kr.object.ncloudstorage.com/bucket-exporum-dev/woc/test-for-jakarta/logo/slayer.png" alt="..." draggable="false" loading="lazy" decoding="async"/>
          </a>
          <a target="_blank" href="https://www.nkg.net/neumann-kaffee-gruppe-opens-new-import-company-in-indonesia/" class="component__button--primary-three component__button--primary-three--small">
            <img src="https://kr.object.ncloudstorage.com/bucket-exporum-dev/woc/test-for-jakarta/logo/new/NKG%20logo.png" alt="..." draggable="false" loading="lazy" decoding="async"/>
          </a>
          <a target="_blank" href="https://sukandadjaya.com/" class="component__button--primary-three component__button--primary-three--small">
            <img src="https://kr.object.ncloudstorage.com/bucket-exporum-dev/woc/test-for-jakarta/logo/new/diamond.png" alt="..." draggable="false" loading="lazy" decoding="async"/>
          </a>
        </div>
      </div>
      <!--/*Silver Sponsor*/-->
      <div>
        <h4 class="pb-3">Silver Sponsor</h4>
        <div class="d-grid gap-3" style="grid-template-columns: repeat(3, 1fr);">
          <a target="_blank" href="https://www.mazzer.com/en/" class="component__button--primary-three component__button--primary-three--small">
            <img src="https://kr.object.ncloudstorage.com/bucket-exporum-dev/woc/test-for-jakarta/logo/MAZZER%20BADGE%20FINALE%20linea%20fina%20revised%20nero.png" alt="..." draggable="false" loading="lazy" decoding="async"/>
          </a>
          <a target="_blank" href="https://monin1912.com/" class="component__button--primary-three component__button--primary-three--small">
            <img src="https://kr.object.ncloudstorage.com/bucket-exporum-dev/woc/test-for-jakarta/logo/new/MONIN%20Logo%20%28Monochrome%29%202024.png" alt="..." draggable="false" loading="lazy" decoding="async"/>
          </a>
          <a target="_blank" href="https://pristineofficial.com" class="component__button--primary-three component__button--primary-three--small">
            <img src="https://kr.object.ncloudstorage.com/bucket-exporum-dev/woc/test-for-jakarta/logo/180120%20pristine%208%2C6%20logo%202%20NEW%20witg%20R%201%20%281%29%20%EB%B3%B5%EC%82%AC.png" alt="..." draggable="false" loading="lazy" decoding="async"/>
          </a>
        </div>
      </div>
      <!--/*Bronze Sponsor*/-->
      <div>
        <h4 class="pb-3">Bronze Sponsor</h4>
        <div class="d-grid gap-3" style="grid-template-columns: repeat(1, 1fr);">
          <a target="_blank" href="https://www.kranti.coffee/" class="component__button--primary-three component__button--primary-three--small">
            <img src="https://kr.object.ncloudstorage.com/bucket-exporum-dev/woc/test-for-jakarta/cupping-rooms/logo%201-02.png" alt="..." draggable="false" loading="lazy" decoding="async"/>
          </a>
        </div>
      </div>
      <!--/*Media Partner*/-->
      <div>
        <h4 class="pb-3">Media Partner</h4>
        <div class="d-grid gap-3" style="grid-template-columns: repeat(3, 1fr);">
          <a target="_blank" href="https://stir-tea-coffee.com/" class="component__button--primary-three component__button--primary-three--small">
            <img src="https://kr.object.ncloudstorage.com/bucket-exporum-dev/woc/test-for-jakarta/logo/STiR%20logo%20680x177%20cm_%20copy.png" alt="..." draggable="false" loading="lazy" decoding="async"/>
          </a>
          <a target="_blank" href="https://standartmag.com/" class="component__button--primary-three component__button--primary-three--small">
            <img src="https://kr.object.ncloudstorage.com/bucket-exporum-dev/woc/test-for-jakarta/sponer/standart%20-%20logo%20-%20black%20%26%20white%20versions.png" alt="..." draggable="false" loading="lazy" decoding="async"/>
          </a>
          <a target="_blank" href="http://www.coffeeteaimagazine.com/en/" class="component__button--primary-three component__button--primary-three--small">
            <img src="https://kr.object.ncloudstorage.com/bucket-exporum-dev/woc/partners/CTI%20logo.png" alt="..." draggable="false" loading="lazy" decoding="async"/>
          </a>
          <a target="_blank" href="https://www.google.com/maps/d/u/0/viewer?mid=1eOgJfbTcqncyCeV-jW-oXdsS0o_PLO6r&hl=en_US&fbclid=PAZXh0bgNhZW0CMTEAAacd1pEEzKsB7QsVfMri7JnH7Yo2UfiYIq7KsKNhkYEXDFrQHzQOnyNJG9GT4Q_aem_wBX22M-FRxUGoqOs8cuLJg&ll=2.983842708730143%2C111.74832204999998&z=5" class="component__button--primary-three component__button--primary-three--small">
            <img src="https://kr.object.ncloudstorage.com/bucket-exporum-dev/woc/test-for-jakarta/logo/LOGO_Black%20Typography%20%281%29.png" alt="..." draggable="false" loading="lazy" decoding="async"/>
          </a>
          <a target="_blank" href="https://mojok.co/" class="component__button--primary-three component__button--primary-three--small">
            <img src="https://kr.object.ncloudstorage.com/bucket-exporum-dev/woc/partners/mojok.png" alt="..." draggable="false" loading="lazy" decoding="async"/>
          </a>
          <a target="_blank" href="https://bce.co.id/" class="component__button--primary-three component__button--primary-three--small">
            <img src="https://kr.object.ncloudstorage.com/bucket-exporum-dev/woc/partners/BCE_logo.png" alt="..." draggable="false" loading="lazy" decoding="async"/>
          </a>
        </div>
      </div>
    </div>
  </section>

  <script src="/static/js/exhibit/partners.js" defer></script>
</section>

</html>