<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.exporum.admin.domain.authentication.mapper.AuthMapper">
    <select id="getUser" parameterType="String" resultType="com.exporum.admin.domain.authentication.model.AuthUser">
        <![CDATA[
            select
                u.id,
                u.email,
                u.password
            from user as u
            where 1=1
            and u.id = #{id}
            and u.is_delete = 0
        ]]>
    </select>
</mapper>
