<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout=http://www.ultraq.net.nz/thymeleaf/layout
      layout:decorate="~{layout/default}">>

<div layout:fragment="content-fragment" class="container-fluid flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">BOOTH REQUEST /</span> DETAILS</h4>
    <div class="row mb-3">
        <div class="col-6">
            <!--            <div class="card mb-3">-->
            <!--                <h5 class="card-header">EXHIBIT</h5>-->
            <!--                <div class="card-body">-->
            <!--                    <div class="row">-->
            <!--                        <div class="col-6">-->
            <!--                            <div>-->
            <!--                                <label class="form-label" for="exhibitionName">EXHIBIT</label>-->
            <!--                                <input type="text" class="form-control-plaintext" id="exhibitionName" disabled readonly>-->
            <!--                            </div>-->
            <!--                        </div>-->
            <!--                        <div class="col-6">-->
            <!--                            <div>-->
            <!--                                <label class="form-label" for="approve">STATUS</label>-->
            <!--                                <input type="text" class="form-control-plaintext" id="approve" disabled readonly>-->
            <!--                            </div>-->
            <!--                        </div>-->
            <!--                    </div>-->
            <!--                </div>-->
            <!--            </div>-->

            <div class="card mb-3">
                <div class="row">
                    <div class="col-auto pe-0">
                        <h5 class="card-header pe-0">COMPANY </h5>
                    </div>
                    <div class="col-auto">
                        <div class="card-header ps-0" id="company-header"></div>
                    </div>
                </div>
                <div class="card-body py-0">
                    <div class="row">
                        <div class="col-12">
                            <div class="mb-3">
                                <label class="form-label" for="company">Company</label>
                                <input type="text" class="form-control-plaintext" id="company" disabled readonly>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="mb-3">
                                <label class="form-label" for="industry">Industry</label>
                                <input type="text" class="form-control-plaintext" id="industry" disabled readonly>
                                <input type="hidden" class="form-control-plaintext" id="industryCode" readonly>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="mb-3">
                                <label class="form-label" for="country">Country</label>
                                <input type="text" class="form-control-plaintext" id="country" disabled readonly>
                                <input type="hidden" class="form-control-plaintext" id="countryId" readonly>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="mb-3">
                                <label class="form-label" for="officeCallingCode">Office Number</label>
                                <div class="row">
                                    <div class="col-2">
                                        <input type="text" class="form-control-plaintext" id="officeCallingCode" disabled readonly>
                                    </div>
                                    <div class="col-10">
                                        <input type="text" class="form-control-plaintext" id="officeNumber" disabled readonly>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="mb-3">
                                <label class="form-label" for="address">Address</label>
                                <textarea type="text" class="form-control-plaintext fixed-textarea" id="address" rows="3" disabled readonly></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card">
                <h5 class="card-header">CONTACT</h5>
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <div class="mb-3">
                                <label class="form-label" for="contactPerson">NAME</label>
                                <input type="text" class="form-control-plaintext" id="contactPerson" disabled readonly>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="mb-3">
                                <label class="form-label" for="jobTitle">JOB TITLE</label>
                                <input type="text" name="jobTitle" class="form-control-plaintext" id="jobTitle" disabled readonly>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="mb-3">
                                <label class="form-label" for="email">Email</label>
                                <input type="text" class="form-control-plaintext" id="email" disabled readonly>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="mb-3">
                                <label class="form-label" for="secondEmail">Second Email</label>
                                <input type="text" class="form-control-plaintext" id="secondEmail" disabled readonly>
                            </div>
                        </div>
                        <div class="col-12">
                            <div>
                                <label class="form-label" for="mobileCallingCode">Mobile Number</label>
                                <div class="row">
                                    <div class="col-2">
                                        <input type="text" class="form-control-plaintext" id="mobileCallingCode" disabled readonly>
                                    </div>
                                    <div class="col-10">
                                        <input type="text" class="form-control-plaintext" id="mobileNumber" disabled readonly>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
        <div class="col-6">
            <div class="card h-100">
                <h5 class="card-header">BRAND</h5>
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <div class="mb-3">
                                <label class="form-label" for="brandName">Brand</label>
                                <input type="text" class="form-control-plaintext" id="brandName" disabled readonly>
                            </div>

                            <div class="mb-3">
                                <label class="form-label" for="homepage">Homepage</label>
                                <div class="row">
                                    <div class="col-1">
                                        <p class="form-p-plaintext text-end"><i class='bx bxs-home' ></i></p>
                                    </div>
                                    <div class="col-11">
                                        <p class="form-p-plaintext"  id="homepage">
                                    </div>
                                </div>
                            </div>
                            <div>
                                <label class="form-label" for="instagram">sns</label>
                                <div class="row">
                                    <div class="col-1 mb-2">
                                        <p class="form-p-plaintext text-end"><i class='bx bxl-instagram-alt'></i></p>
                                    </div>
                                    <div class="col-11 mb-2">
                                        <p class="form-p-plaintext" id="instagram">
                                    </div>
                                    <div class="col-1 mb-2">
                                        <p class="form-p-plaintext text-end"><i class='bx bxl-facebook-square' ></i></p>
                                    </div>
                                    <div class="col-11 mb-2">
                                        <p class="form-p-plaintext" id="facebook">
                                    </div>
                                    <div class="col-1">
                                        <p class="form-p-plaintext text-end"><i class='bx bx-notepad'></i></p>
                                    </div>
                                    <div class="col-11">
                                        <p class="form-p-plaintext" id="etcSns">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-3">
        <div class="card-body">
            <div class="row">
                <div class="col-6">
                    <button type="button" class="btn btn-secondary me-1" id="btn-pre"><i class='bx bx-arrow-back'></i> List</button>
                </div>
                <div class="col-6">
                    <div class="row justify-content-end">
                        <div class="col-auto">
                            <button class="btn btn-primary ms-1" id="btn-check"><i class='bx bx-check'></i> Check</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script src="/static/js/booth/booth-detail.js" defer></script>
</div>

</html>