<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout=http://www.ultraq.net.nz/thymeleaf/layout
      layout:decorate="~{layout/default}">>

<div layout:fragment="content-fragment" class="container-fluid flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">EXHIBITION / BRAND /</span> DETAILS</h4>
    <form id="modify-form" onsubmit="return false;">
        <div class="row mb-3">
            <div class="col-6">
                <div class="card mb-3">
                    <h5 class="card-header">COMPANY</h5>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12">
                                <div class="mb-3">
                                    <label class="form-label" for="brand">Brand</label>
                                    <input type="text" class="form-control" id="brand" name="brand" placeholder="Brand">
                                    <input type="hidden" name="id"  class="form-control-plaintext" id="id" readonly>
                                    <input type="hidden" name="companyId"  class="form-control-plaintext" id="companyId" readonly>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="mb-3">
                                    <label class="form-label" for="company">Company</label>
                                    <input type="text" class="form-control" id="company" name="company" placeholder="Company">
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="mb-3">
                                    <label class="form-label" for="industry">Industry</label>
                                    <select id="industry" name="industry" class="form-select"></select>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="mb-3">
                                    <label class="form-label" for="industry">Booth</label>
                                    <input type="text" class="form-control" id="booth" name="booth" placeholder="booth">
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="mb-3">
                                    <label class="form-label" for="country">Country</label>
                                    <select id="country" name="country" class="form-select"></select>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="mb-3">
                                    <label class="form-label" for="officeCalling">Office Number</label>
                                    <div class="row">
                                        <div class="col-3">
                                            <select id="officeCalling" name="officeCalling" class="form-select"></select>
                                        </div>
                                        <div class="col-9">
                                            <input type="text" class="form-control" name="officeNumber" id="officeNumber">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12">
                                <div>
                                    <label class="form-label" for="address">Address</label>
                                    <textarea type="text" name="address" class="form-control fixed-textarea" id="address" rows="6" placeholder="Address"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <h5 class="card-header">CONTACT</h5>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12">
                                <div class="mb-3">
                                    <label class="form-label" for="managerName">MANAGER NAME</label>
                                    <input type="text" name="managerName" class="form-control" id="managerName" placeholder="ManagerName">
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="mb-3">
                                    <label class="form-label" for="jobTitle">JOB TITLE</label>
                                    <input type="text" name="jobTitle" class="form-control" id="jobTitle" placeholder="JobTitle">
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="mb-3">
                                    <label class="form-label" for="email">Email</label>
                                    <input type="text" name="email" class="form-control" id="email" placeholder="Email">
                                </div>
                            </div>
                            <div class="col-12">
                                <div>
                                    <label class="form-label" for="mobileCalling">Mobile Number</label>
                                    <div class="row">
                                        <div class="col-3">
                                            <select id="mobileCalling" name="mobileCalling" class="form-select"></select>
                                        </div>
                                        <div class="col-9">
                                            <input type="text" class="form-control" name="mobileNumber" id="mobileNumber" placeholder="MobileNumber">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
            <div class="col-6">
                <div class="card h-100">
                    <h5 class="card-header">BRAND</h5>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12">
                                <div class="mb-3">
                                    <label class="form-label" for="logo">Logo Preview</label>
                                    <div style="display: flex; flex-direction: column; align-items: center;">
                                        <div style="position: relative; width: 100%; max-width: 285px; aspect-ratio: 1 / 1; border: 1px solid #f9f9f9;">
                                            <img id="logo" onerror="this.src='/static/img/backgrounds/noimage.png'"
                                                 draggable="false"
                                                 alt="image"
                                                 loading="lazy"
                                                 decoding="async"
                                                 src="" style="position: absolute; width: 100%; height: 100%; inset: 0; object-fit: contain; color: transparent;" />
                                        </div>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label" for="file">Logo File</label>
                                    <input class="form-control" type="file" name="file"  id="file">
                                    <p class="text-muted mt-1 mb-0">* PNG 파일만 등록할 수 있습니다.</p>
                                    <input class="form-control" type="hidden" name="fileId"  id="fileId">
                                </div>

                                <div class="mb-3">
                                    <label class="form-label" for="introduction">Introduction</label>
                                    <textarea type="text" class="form-control fixed-textarea" name="introduction" id="introduction" rows="7" placeholder="Introduction"></textarea>
                                </div>

                                <div class="mb-3">
                                    <label class="form-label" for="homepage">Homepage</label>
                                    <div class="input-group">
                                        <span class="input-group-text"><i class='bx bxs-home' ></i></span>
                                        <input type="url" class="form-control" name="homepage" id="homepage" placeholder="Homepage">
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label" for="instagram">sns</label>
                                    <div class="input-group mb-2">
                                        <span class="input-group-text"><i class='bx bxl-instagram-alt'></i></span>
                                        <input type="url" class="form-control" name="instagram" id="instagram"  placeholder="instagram">
                                    </div>
                                    <div class="input-group mb-2">
                                        <span class="input-group-text"><i class='bx bxl-facebook-square'></i></span>
                                        <input type="url" class="form-control" name="facebook" id="facebook"  placeholder="facebook">
                                    </div>
                                    <div class="input-group mb-2">
                                        <span class="input-group-text"><i class='bx bx-notepad'></i></span>
                                        <input type="url" class="form-control" name="etcSns" id="etcSns"  placeholder="etcSns">
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card mb-3">
            <div class="card-body">
                <div class="row">
                    <div class="col-6">

                    </div>
                    <div class="col-6">
                        <div class="row justify-content-end">
                            <div class="col-auto">
                                <button type="button" class="btn btn-secondary me-1" id="btn-cancel"><i class='bx bx-exit' ></i> Cancel</button>
                                <button type="button" class="btn btn-primary" id="btn-save"><i class='bx bx-save' ></i> Save</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <script src="/static/js/exhibition/brand/brand-modify.js" defer></script>
</div>

</html>