<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="footer-fragment" >
    <footer class="content-footer footer bg-footer-theme">
        <div class="container-fluid d-flex flex-wrap justify-content-between py-2 flex-md-row flex-column">
            <div class="mb-2 mb-md-0">
                Copyright ©
                <script>
                    document.write(new Date().getFullYear());
                </script>
                EXPORUM Inc., All Rights Reserved
            </div>
        </div>
    </footer>

</th:block>

</html>