<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block  th:fragment="head-fragment">
    <head>
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
        />
        <meta name="description" content="" />

        <title>World of Coffee Admin</title>

        <!-- Favicon -->
        <link rel="icon" type="image/x-icon" href="/static/img/favicon/favicon.ico" />

        <!-- Fonts -->
        <link rel="stylesheet" href="/static/fonts/public-sans/public-sans.css"/>

        <!-- Icons. Uncomment required icon fonts -->
        <link rel="stylesheet" href="/static/vendor/fonts/boxicons.css" type="text/css"/>

        <!-- Core CSS -->
        <link rel="stylesheet" href="/static/vendor/css/core.css" class="template-customizer-core-css" />
        <link rel="stylesheet" href="/static/vendor/css/theme-default.css" class="template-customizer-theme-css" />
        <link rel="stylesheet" href="/static/css/main.css" />
        <link rel="stylesheet" href="/static/css/demo.css" />
<!--        <link rel="stylesheet" href="/static/vendor/libs/bootstrap/bootstrap.min.css" type="text/css"/>-->

        <!-- Vendors CSS -->
        <link rel="stylesheet" href="/static/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />
        <link rel="stylesheet" href="/static/vendor/libs/jquery-ui/jquery-ui.css" />

        <!-- quill js-->
        <link rel="stylesheet" href="/static/vendor/libs/quill/quill.snow.css" />

        <!-- toastr -->
        <link rel="stylesheet" href="/static/vendor/libs/toastr/toastr.min.css">
        <!-- datatable -->
        <link rel="stylesheet" href="/static/vendor/libs/datatable/datatables.min.css">

        <!-- timepicker -->
        <link rel="stylesheet" href="/static/vendor/libs/flatpickr/flatpickr.min.css">

        <!-- datarangepicker -->
        <link rel="stylesheet" href="/static/vendor/libs/daterangepicker/daterangepicker.css">
        <link rel="stylesheet" href="/static/vendor/libs/select2/css/select2.min.css">
        <!-- Page CSS -->


        <link rel="stylesheet" href="/static/css/custom-select2.css" />



        <!-- Helpers -->
        <script src="/static/vendor/js/helpers.js"></script>

        <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
        <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
        <script src="/static/js/config.js"></script>
    </head>
</th:block>
</html>