<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="js-fragment" >
  <script defer src="/static/vendor/libs/jquery/jquery.min.js"></script>
  <script defer src="/static/vendor/libs/popper/popper.js"></script>
  <script defer src="/static/vendor/libs/bootstrap/bootstrap.bundle.min.js"></script>
  <script defer src="/static/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>

  <script defer src="/static/vendor/js/menu.js"></script>
  <!-- Main JS -->
  <script defer src="/static/js/main.js"></script>

  <!-- toastr -->
  <script defer src="/static/vendor/libs/toastr/toastr.min.js"></script>

  <!-- datatable -->
  <script defer src="/static/vendor/libs/datatable/datatables.min.js"></script>
  <script defer src="/static/vendor/libs/moment/moment.min.js"></script>
  <script defer src="/static/vendor/libs/daterangepicker/daterangepicker.js"></script>

  <script defer src="/static/vendor/libs/select2/js/select2.min.js"></script>

  <script defer src="/static/vendor/libs/jquery-validation/jquery.validate.min.js"></script>

  <script defer src="/static/js/common.js"></script>
</th:block>

</html>