<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="menu-fragment">
  <!-- Menu -->
  <aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">

    <div class="app-brand demo">
      <a href="/" class="app-brand-link">
              <span class="app-brand-logo demo">
                <img src="/static/img/logo/logo.png" style="width:127px;height:64px;"/>
              </span>
        <!--<span class="app-brand-text menu-text fw-bolder ms-2">World of Coffee</span>-->
      </a>

      <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
        <i class="bx bx-chevron-left bx-sm align-middle"></i>x
      </a>
    </div>

    <div class="menu-inner-shadow"></div>

    <ul class="menu-inner py-1">
      <!-- Dashboard -->
      <li class="menu-item" th:classappend="${#strings.indexOf(currentUrl,'/dashboard')} >= 0 ? 'active' : ''">
        <a href="/dashboard" class="menu-link">
          <i class="menu-icon tf-icons bx bxs-dashboard"></i>
          <div data-i18n="dashboard">DASHBOARD</div>
        </a>
      </li>

      <li class="menu-item" th:classappend="${#strings.indexOf(currentUrl,'/board')} >= 0 ? 'active open' : ''">
        <a href="javascript:void(0);" class="menu-link menu-toggle">
          <i class="menu-icon tf-icons bx bx-clipboard"></i>
          <div data-i18n="board">BOARD</div>
        </a>
        <ul class="menu-sub">
          <li class="menu-item" th:classappend="${#strings.indexOf(currentUrl,'/board/notice')} >= 0 ? 'active' : ''">
            <a href="/board/notice" class="menu-link">
              <div data-i18n="notice">NOTICE</div>
            </a>
          </li>
          <li class="menu-item" th:classappend="${#strings.indexOf(currentUrl,'/board/press')} >= 0 ? 'active' : ''">
            <a href="/board/press" class="menu-link">
              <div data-i18n="press">PRESS</div>
            </a>
          </li>
          <li class="menu-item" th:classappend="${#strings.indexOf(currentUrl,'/board/newsletter')} >= 0 ? 'active' : ''">
            <a href="/board/newsletter" class="menu-link">
              <div data-i18n="press">NEWSLETTER</div>
            </a>
          </li>
        </ul>
      </li>

    <li class="menu-item" th:classappend="${#strings.indexOf(currentUrl,'/subscribe')} >= 0 ? 'active' : ''">
        <a href="/subscribe" class="menu-link">
            <i class="menu-icon tf-icons bx bxs-binoculars"></i>
            <div data-i18n="subscribe">SUBSCRIBE</div>
        </a>
    </li>

    </ul>

  </aside>
  <!-- / Menu -->
</th:block>
</html>