<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout=http://www.ultraq.net.nz/thymeleaf/layout
      layout:decorate="~{layout/default}">>

<div layout:fragment="content-fragment" class="container-fluid flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4">POPUP</h4>

    <div class="card mb-3">
        <h5 class="card-header">PUBLISHED</h5>
        <div class="card-body">
            <table id="datatable" class="table table-hover"></table>
        </div>
    </div>

    <div class="card mb-1">
        <h5 class="card-header">UNPUBLISHED</h5>
        <div class="card-body">
            <div class="row">
                <div class="col-6">
                </div>
                <div class="col-6">
                    <div class="row justify-content-end">
                        <div class="col-auto">
                            <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#popup-modal"><i class='bx bx-edit'></i> Add</button>
                        </div>
                    </div>
                </div>
            </div>
            <table id="unpublish-datatable" class="table table-hover"></table>
        </div>
    </div>



    <div class="modal fade" id="popup-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
        <div class="modal-dialog modal-xl">
            <form class="modal-content" id="modify-form">
                <div class="modal-header">
                    <h5 class="modal-title" id="modal-popup-title">POPUP ADD</h5>
                    <button
                            type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close"
                    ></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-6">
                            <div class="row">

                                <div class="col-12">
                                    <div class="mb-3">
                                        <label for="title" class="form-label">TITLE</label>
                                        <input type="text" id="title" name="title" class="form-control" placeholder="title"/>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="mb-3">
                                        <label for="publicationPeriod" class="form-label">Publication Period</label>
                                        <input type="text" id="publicationPeriod" name="publicationPeriod" class="form-control" placeholder="publication period"/>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="mb-3">
                                        <label class="form-label" for="linkType">Link</label>
                                        <div class="row">
                                            <div class="col-3">
                                                <select id="linkType" name="linkType" class="form-select">
                                                    <option value="_blank" selected>새 창</option>
                                                    <option value="_self">현재 창</option>
                                                </select>
                                            </div>
                                            <div class="col-9 ps-1">
                                                <div class="input-group">
                                                    <input type="text" class="form-control" name="link" id="link" placeholder="link">
                                                    <span class="input-group-text cursor-pointer" id="btn-link">
                                                        <i class="bx bx-link-external"></i>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="mb-3">
                                        <label class="form-label" for="file">Popup Imanage</label>
                                        <input class="form-control" type="file" name="file"  id="file">
                                        <p class="text-muted mt-1 mb-0">* JPG, PNG 파일만 등록할 수 있습니다.</p>
                                        <p class="text-muted-red mt-1 mb-0">* 최적화된 이미지 규격은 500x500(1:1) 비율입니다.</p>
                                        <input class="form-control" type="hidden" name="fileId"  id="fileId">
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="h-100">
                                        <div class="row h-100">
                                            <label class="form-label">STATUS</label>
                                            <div class="d-flex align-items-center">
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="publish" id="publish" value="1">
                                                    <label class="form-check-label" for="publish">Publish</label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="publish" id="publish1" value="0" checked>
                                                    <label class="form-check-label" for="publish1">Unpublish</label>
                                                </div>
                                            </div>
                                            <p class="text-muted-red mt-1 mb-0">* 팝업은 최대 3개까지 게시할 수 있습니다.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="row">
                                <div class="col-12">
                                    <div class="mb-3">
                                        <label class="form-label" for="popup">Popup Preview</label>
                                        <div style="display: flex; flex-direction: column; align-items: flex-start;">
                                            <div style="position: relative; width: 100%; max-width: 502px; aspect-ratio: 1 / 1; border: 1px solid #f9f9f9;">
                                                <img id="popup" onerror="this.src='/static/img/backgrounds/noimage.png'"
                                                     draggable="false"
                                                     alt="image"
                                                     loading="lazy"
                                                     decoding="async"
                                                     src="" style="position: absolute; width: 100%; height: 100%; inset: 0; object-fit: hover; color: transparent;" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <input type="hidden" value="POPUP-IMAGE" id="popupType">
                <input type="hidden" value="DEVICE-DESKTOP" id="deviceCode">
                <input type="hidden" value="" id="id">
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal" id="btn-cancel">Cancel</button>
                    <button type="button" class="btn btn-primary" id="btn-save">Save</button>
                </div>
            </form>
        </div>
    </div>

    <script src="/static/vendor/libs/jquery-ui/jquery-ui.min.js" defer></script>

    <script src="/static/js/popup/popup.js" defer></script>
</div>

</html>