<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout=http://www.ultraq.net.nz/thymeleaf/layout
      layout:decorate="~{layout/default}"
>

<section layout:fragment="content-fragment">
  <section class="component">
    <div class="component__div">
      <div class="d-flex flex-column align-items-center justify-content-center gap-5">
        <h2 class="error-message">This page is currently being prepared</h2>
        <a href="/" class="component__button--primary-one component__button--primary-dark">
          <span>BACK TO HOME</span>
        </a>
      </div>
    </div>
  </section>
</section>
</html>