<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout=http://www.ultraq.net.nz/thymeleaf/layout
      layout:decorate="~{layout/default}"
>

<section layout:fragment="content-fragment">
    <section class="component">
        <div class="component__div">
            <h3 class="component__title-font--big">WORLD OF COFFEE BANGKOK 2026</h3>
            <section class="d-flex flex-column flex-md-row align-items-start gap-3 gap-md-5">
                <img src="https://kr.object.ncloudstorage.com/bucket-exporum-prod/woc/resource/bangkok/show-info/brochure.webp" class="show-info__img" alt="brochure" draggable="false"/>
                <div class="d-flex flex-column gap-3 gap-md-4">
                    <div class="d-flex flex-column flex-md-row gap-1">
                        <div class="component__desc-font--middle fw-semibold w-200px">Title</div>
                        <div class="component__desc-font--small fw-medium">World of Coffee Bangkok 2026</div>
                    </div>
                    <div class="d-flex flex-column flex-md-row gap-1">
                        <div class="component__desc-font--middle fw-semibold w-200px">Date</div>
                        <div class="component__desc-font--small fw-medium">May 7 – 9, 2026</div>
                    </div>
                    <!--/*아직 정해진게 없어서 주석처리
                    <div class="d-flex flex-column flex-md-row gap-1">
                        <div class="component__desc-font--middle fw-semibold w-200px">Opening Hours</div>
                        <div class="component__desc-font--small fw-medium">
                            10AM – 6PM (Last call for entrance at 5:30PM)<br><br>
                            Last day : 10PM - 5PM (Last call for entrance at 4:30PM)
                        </div>
                    </div>*/-->
                    <div class="d-flex flex-column flex-md-row gap-1">
                        <div class="component__desc-font--middle fw-semibold w-200px">Venue</div>
                        <div class="component__desc-font--small fw-medium">BITEC, Bangkok, Thailand</div>
                    </div>
                    <div class="d-flex flex-column flex-md-row gap-1">
                        <div class="component__desc-font--middle fw-semibold w-200px">Owned By</div>
                        <div class="component__desc-font--small fw-medium">Specialty Coffee Association (SCA)</div>
                    </div>
                    <div class="d-flex flex-column flex-md-row gap-1">
                        <div class="component__desc-font--middle fw-semibold w-200px">Organized By</div>
                        <div class="component__desc-font--small fw-medium">Exporum</div>
                    </div>
                    <div class="d-flex flex-column flex-md-row gap-1">
                        <div class="component__desc-font--middle fw-semibold w-200px">Hosted By</div>
                        <div class="component__desc-font--small fw-medium">Barista Association of Thailand (BAT)</div>
                    </div>
                </div>
            
            </section>
        </div>
    </section>

    <section class="component">
        <div class="component__div">
            <h4 class="component__title-font--big pb-2 pb-md-3 border-bottom">ABOUT WORLD OF COFFEE ASIA</h4>
            <p class="component__desc-font--small pt-1">The World of Coffee, launched by the Specialty Coffee Association (SCA) in 1999, has become one of the most important events in the global coffee industry.</p>
            <p class="component__desc-font--small">Originally held in Boston, USA, it has expanded with regional editions in Europe, Dubai, and Asia to serve emerging coffee markets. The event tours various cities annually, engaging with diverse cultures and societies.</p>
            <p class="component__desc-font--small">World of Coffee Asia made its debut in May 2024 in Busan, South Korea, alongside the prestigious World Barista Championship. This edition specifically targets the fast-growing coffee markets in Asia, offering a platform to showcase innovations, share knowledge, and promote sustainability.</p>
            <p class="component__desc-font--small">The event brings together coffee professionals, including producers, roasters, baristas, and manufacturers, and features programs like the SCA Community Lounge and Roaster Village. As a driving force in the global coffee industry, World of Coffee fosters innovation, promotes sustainability, and remains vital for the specialty coffee community worldwide.</p>
        </div>
    </section>

    <section class="component">
        <div class="component__div">
            <h4 class="component__title-font--big pb-2 pb-md-3 mb-3 border-bottom">WORLD OF COFFEE JAKARTA 2025</h4>
            <div class="ratio ratio-16x9 pe-none">
                <iframe
                        src="https://www.youtube.com/embed/n6z-APv9OA0?autoplay=1&mute=1&controls=0&modestbranding=1&showinfo=0&rel=0&loop=1&playlist=n6z-APv9OA0"
                        title="YouTube video"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen
                        loading="lazy"
                ></iframe>
            </div>
        </div>
    </section>

</section>

</html>