<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout=http://www.ultraq.net.nz/thymeleaf/layout
      layout:decorate="~{layout/default}">>

<div layout:fragment="content-fragment" class="container-fluid flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">BOARD / CONTACT US /</span> DETAILS</h4>

    <div class="card mb-3">
        <h5 class="card-header">INQUIRY</h5>
        <div class="card-body">
            <div class="row">
                <div class="col-6">
                    <div class="mb-3">
                        <label class="form-label" for="inquiry">INQUIRY</label>
                        <input type="text" class="form-control-plaintext input-bottom-line" id="inquiry" readonly>
                    </div>
                </div>
                <div class="col-6">
                    <div class="mb-3">
                        <label class="form-label" for="createdAt">DATE</label>
                        <input type="text" class="form-control-plaintext input-bottom-line" id="createdAt" readonly>
                    </div>
                </div>
                <div class="col-3">
                    <div class="mb-3">
                        <label class="form-label" for="contactor">TYPE</label>
                        <input type="text" class="form-control-plaintext input-bottom-line" id="contactor" readonly>
                    </div>
                </div>
                <div class="col-3">
                    <div class="mb-3">
                        <label class="form-label" for="company">COMPANY</label>
                        <input type="text" class="form-control-plaintext input-bottom-line" id="company" readonly>
                    </div>
                </div>
                <div class="col-3">
                    <div class="mb-3">
                        <label class="form-label" for="name">NAME</label>
                        <input type="text" class="form-control-plaintext input-bottom-line" id="name" readonly>
                    </div>
                </div>
                <div class="col-3">
                    <div class="mb-3">
                        <label class="form-label" for="email">EMAIL</label>
                        <input type="text" class="form-control-plaintext input-bottom-line" id="email" readonly>
                    </div>
                </div>
                <div class="col-12">
                    <div class="mb-3">
                        <label class="form-label" for="title">TITLE</label>
                        <input type="text" class="form-control-plaintext input-bottom-line" id="title" readonly>
                    </div>
                </div>
                <div class="col-12">
                    <div class="mb-3">
                        <label class="form-label" for="message">MESSAGE</label>
                        <textarea type="text" class="form-control-plaintext input-bottom-line" id="message" rows="10" readonly></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-3">
        <h5 class="card-header">REPLIED</h5>
        <div class="card-body">
            <div class="row">
                <div class="col-3">
                    <div class="mb-3">
                        <label class="form-label" for="adminName">NAME</label>
                        <input type="text" class="form-control-plaintext input-bottom-line" id="adminName" readonly>
                    </div>
                </div>
                <div class="col-3">
                    <div class="mb-3">
                        <label class="form-label" for="answer">STATUS</label>
                        <input type="text" class="form-control-plaintext input-bottom-line" id="answer" readonly>
                    </div>
                </div>
                <div class="col-6">
                    <div class="mb-3">
                        <label class="form-label" for="updatedAt">DATE</label>
                        <input type="text" class="form-control-plaintext input-bottom-line" id="updatedAt" readonly>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="card mb-3">
        <div class="card-body">
            <div class="row">
                <div class="col-6">

                </div>
                <div class="col-6">
                    <div class="row justify-content-end">
                        <div class="col-auto">
                            <button class="btn btn-success ms-1" id="btn-replied"><i class='bx bx-check'></i> Replied</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script src="/static/js/board/contactus/contactus-detail.js" defer></script>
</div>

</html>