<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout=http://www.ultraq.net.nz/thymeleaf/layout
      layout:decorate="~{layout/default}">>

<div layout:fragment="content-fragment" class="container-fluid flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">BOARD /</span> CONTACT US</h4>

    <div class="card mb-3">
        <div class="card-body">
            <div class="row">
                <div class="col-6">
                    <div class="col-8">
                        <div class="mb-2 row">
                            <label class="col-md-2 col-form-label">STATUS</label>
                            <div class="col-md-10 d-flex align-items-center">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="status" id="status1" value="A">
                                    <label class="form-check-label" for="status1">All</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="status" id="status2" value="W" checked>
                                    <label class="form-check-label" for="status2">Wait</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="status" id="status3" value="R">
                                    <label class="form-check-label" for="status3">Replied</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                    </div>
                </div>
                <div class="col-6 d-flex justify-content-end">
                    <div class="row align-items-end">
                        <div class="col-auto">
                            <button  class="btn btn-outline-primary" id="btn-search"><i class='bx bx-search' ></i> Search</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-1">
        <div class="card-body">
            <div class="row">
                <div class="col-6">
                </div>
                <div class="col-6">
                </div>
            </div>
            <table id="datatable" class="table table-hover"></table>
        </div>
    </div>

    <script src="/static/js/board/contactus/contactus.js" defer></script>
</div>

</html>