<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout=http://www.ultraq.net.nz/thymeleaf/layout
      layout:decorate="~{layout/default}">>

<div layout:fragment="content-fragment" class="container-fluid flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">EXHIBITION / SCHEDULE /</span> MODIFY</h4>

    <form id="modify-form" onsubmit="return false;">
        <div class="row">
            <div class="col-12 mb-3">
                <div class="card h-100">
                    <h5 class="card-header">EVENT</h5>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-6">
                                <div class="mb-3">
                                    <label class="form-label" for="exhibitionName">EXHIBIT</label>
                                    <input type="text" class="form-control-plaintext input-bottom-line" id="exhibitionName" readonly>
                                </div>
                            </div>
                            <div class="col-6"></div>
                            <div class="col-6">
                                <div class="mb-3">
                                    <label class="form-label" for="eventDate">EVENT DATE</label>
                                    <input type="text" class="form-control" name="eventDate" id="eventDate">
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="mb-3">
                                    <label class="form-label" for="organization">ORGANIZATION</label>
                                    <input type="text" class="form-control" name="organization" id="organization">
                                </div>
                            </div>
                        </div>


                        <div class="mb-3">
                            <label class="form-label" for="eventName">EVENT TITLE</label>
                            <input type="text" class="form-control" name="eventName" id="eventName">
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="description">DESCRIPTION</label>
                            <textarea type="text" class="form-control" name="description" id="description" rows="5">
                            </textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-6">

                            </div>
                            <div class="col-6">
                                <div class="row justify-content-end">
                                    <button type="button" class="btn btn-secondary me-1" id="btn-cancel"><i class='bx bx-exit' ></i> Cancel</button>
                                    <button type="button" class="btn btn-primary" id="btn-save"><i class='bx bx-save' ></i> Save</button>
                                <div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>





    <script src="/static/vendor/libs/flatpickr/flatpickr.min.js" defer></script>

    <script src="/static/js/exhibition/schedule/schedule-modify.js" defer></script>
</div>

</html>