<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout=http://www.ultraq.net.nz/thymeleaf/layout
      layout:decorate="~{layout/default}">

<div layout:fragment="content-fragment" class="container-fluid flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4">EXHIBITOR</h4>

    <div class="card mb-3">
        <div class="card-body">
            <div class="row">
                <div class="col-6">
                    <div class="col-8">
                        <div class="mb-3 row">
                            <label for="search-type" class="col-md-2 search-form-label">Type</label>
                            <div class="col-md-10 d-flex align-items-center">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="applicationType" id="applicationType1" value="" checked>
                                    <label class="form-check-label" for="applicationType1">All</label>
                                </div>
                                <div th:each="option, stat : ${applicationTypes}" class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="applicationType" th:attrappend="id=${'applicationType' + (stat.index+2)}" th:value="${option.value}">
                                    <label class="form-check-label" th:attrappend="for=${'applicationType' + (stat.index+2)}" th:text="${option.text}"></label>
                                </div>
                            </div>
                        </div>
                        <div class="mb-2 row">
                            <label for="search-type" class="col-md-2 search-form-label">sponsor</label>
                            <div class="col-md-10 d-flex align-items-center">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="sponsor" id="sponsor1" value="" checked>
                                    <label class="form-check-label" for="sponsor1">All</label>
                                </div>
                                <div th:each="option, stat : ${sponsors}" class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="sponsor" th:attrappend="id=${'sponsor' + (stat.index+2)}" th:value="${option.value}">
                                    <label class="form-check-label" th:attrappend="for=${'sponsor' + (stat.index+2)}" th:text="${option.text}"></label>
                                </div>
                            </div>
                        </div>
                        <div class="mb-2 row">
                            <label for="search-type" class="col-md-2 search-form-label">Industry</label>
                            <div class="col-md-10 d-flex align-items-center">
                                <select class="form-select" id="industry">
                                    <option value="">All</option>
                                    <option th:each="option : ${industries}"
                                            th:value="${option.value}"
                                            th:text="${option.text}"
                                    >
                                </select>
                            </div>
                        </div>

                        <div class="row">
                            <label for="search-type" class="col-md-2 search-form-label">KEYWORD</label>
                            <div class="col-3">
                                <select id="search-type" class="form-select">
                                    <option value="C" selected>Company</option>
                                    <option value="B">Brand</option>
                                </select>
                            </div>
                            <div class="col-7 ps-1">
                                <input type="text" class="form-control" value="" placeholder="Keyword" id="search-text">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6 d-flex justify-content-end">
                    <div class="row align-items-end">
                        <div class="col-auto">
                            <button  class="btn btn-outline-primary" id="btn-search"><i class='bx bx-search' ></i> Search</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-1">
        <div class="card-body">
            <div class="row">
                <div class="col-6">
                    <button class="btn btn-secondary me-1" id="btn-excel"><i class='bx bx-download'></i> Excel Download</button>
                    <button class="btn btn-secondary me-1" id="btn-invitation-excel"><i class='bx bx-download'></i> Invitation Excel Download</button>
                    <button class="btn btn-primary me-1" id="btn-remind"><i class='bx bx-mail-send'></i> Send Remind Invitation</button>
                </div>
                <div class="col-6">
                    <div class="row justify-content-end">
                        <div class="col-auto">
                            <button class="btn btn-primary" id="btn-registry"><i class='bx bx-edit'></i> Add</button>
                        </div>
                    </div>
                </div>
            </div>

            <table id="datatable" class="table table-hover"></table>
        </div>
    </div>

    <script src="/static/js/exhibitor/exhibitor.js" defer></script>

</div>

</html>