<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout=http://www.ultraq.net.nz/thymeleaf/layout
      layout:decorate="~{layout/default}">>

<div layout:fragment="content-fragment" class="container-fluid flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">EXHIBITOR /</span> MODIFY</h4>
    <form id="modify-form" onsubmit="return false;">
        <div class="row mb-3">
            <div class="col-6">
                <div class="card h-100 mb-3">
                    <h5 class="card-header">COMPANY</h5>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-6">
                                <div class="mb-3">
                                    <label class="form-label" for="scai">SCAI Sales</label>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="scai" name="scai">
                                        <label class="form-check-label" for="scai"> Checked </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="mb-3">
                                    <label class="form-label" for="sca">SCA MEMBERSHIP</label>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="sca" name="sca">
                                        <label class="form-check-label" for="sca"> Checked </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="mb-3">
                                    <label class="form-label" for="company">Company</label>
                                    <input type="text" class="form-control" id="company" name="company" placeholder="Company">
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="mb-3">
                                    <label class="form-label" for="brand">Brand</label>
                                    <input type="text" class="form-control" id="brand" name="brand" placeholder="Brand">
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="mb-3">
                                    <label class="form-label" for="industry">Industry</label>
                                    <select id="industry" name="industry" class="form-select">
                                        <option value selected>- Select -</option>
                                        <option th:each="option : ${industries}"
                                                th:value="${option.value}"
                                                th:text="${option.text}"
                                        >
                                    </select>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="mb-3">
                                    <div class="row">
                                        <div class="col-auto">
                                            <label class="form-label" for="country" id="">Country</label>
                                        </div>
                                        <div class="col-auto ps-0">
                                            <div id="country-badge"></div>
                                        </div>
                                    </div>
                                    <select id="country" name="country" class="form-select">
                                        <option th:each="option : ${countries}"
                                                th:value="${option.id}"
                                                th:text="${option.country}"
                                        >
                                    </select>
                                </div>
                            </div>

                            <div class="col-6">
                                <div class="mb-3">
                                    <label class="form-label" for="sponsor">Sponsor</label>
                                    <select id="sponsor" name="sponsor" class="form-select">
                                        <option value selected>- Select -</option>
                                        <option th:each="option : ${sponsors}"
                                                th:value="${option.value}"
                                                th:text="${option.text}"
                                        >
                                    </select>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="mb-3">
                                    <label class="form-label" for="earlyApplication">Early Application</label>
                                    <select id="earlyApplication" name="earlyApplication" class="form-select">
                                        <option value selected>- Select -</option>
                                        <option th:each="option : ${earlyApplications}"
                                                th:value="${option.value}"
                                                th:text="${option.text}"
                                        >
                                    </select>
                                </div>
                            </div>
                            <div class="col-6">
                                <label class="form-label" for="applicationType">Application Type</label>
                                <select id="applicationType" name="applicationType" class="form-select">
                                    <option th:each="option : ${applicationTypes}"
                                            th:value="${option.value}"
                                            th:text="${option.text}"
                                    >
                                </select>
                            </div>
                            <div class="col-6">
                                <div class="mb-3">
                                    <label class="form-label" for="applicationDate">Application Date</label>
                                    <input class="form-control" type="text" id="applicationDate" name="applicationDate">
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="mb-3">
                                    <label class="form-label" for="homepage">Homepage</label>
                                    <div class="input-group">
                                        <span class="input-group-text"><i class='bx bxs-home' ></i></span>
                                        <input type="url" class="form-control" name="homepage" id="homepage" placeholder="Homepage">
                                        <span class="input-group-text cursor-pointer" id="btn-homepage-link">
                                            <i class="bx bx-link-external"></i>
                                        </span>
                                    </div>
                                </div>
                                <div>
                                    <label class="form-label" for="instagram">sns</label>
                                    <div class="input-group mb-2">
                                        <span class="input-group-text"><i class='bx bxl-instagram-alt'></i></span>
                                        <input type="url" class="form-control" name="instagram" id="instagram"  placeholder="instagram">
                                        <span class="input-group-text cursor-pointer" id="btn-instagram-link">
                                            <i class="bx bx-link-external"></i>
                                        </span>
                                    </div>
                                    <div class="input-group mb-2">
                                        <span class="input-group-text"><i class='bx bxl-facebook-square'></i></span>
                                        <input type="url" class="form-control" name="facebook" id="facebook"  placeholder="facebook">
                                        <span class="input-group-text cursor-pointer" id="btn-facebook-link">
                                            <i class="bx bx-link-external"></i>
                                        </span>
                                    </div>
                                    <div class="input-group mb-2">
                                        <span class="input-group-text"><i class='bx bx-notepad'></i></span>
                                        <input type="url" class="form-control" name="etcSns" id="etcSns"  placeholder="etcSns">
                                        <span class="input-group-text cursor-pointer" id="btn-etc-link">
                                            <i class="bx bx-link-external"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card h-100">
                    <h5 class="card-header">CONTACT</h5>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12">
                                <div class="mb-3">
                                    <label class="form-label" for="contactName">NAME</label>
                                    <input type="text" name="contactName" class="form-control" id="contactName" placeholder="manager name">
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="mb-3">
                                    <label class="form-label" for="jobTitle">JOB TITLE</label>
                                    <input type="text" name="jobTitle" class="form-control" id="jobTitle" placeholder="Job title">
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="mb-3">
                                    <label class="form-label" for="email">Email</label>
                                    <input type="text" name="email" class="form-control" id="email" placeholder="Email">
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="mb-3">
                                    <label class="form-label" for="callingNumber">Phone Number</label>
                                    <div class="row">
                                        <div class="col-3">
                                            <select id="callingNumber" name="callingNumber" class="form-select">
                                                <option th:each="option : ${callingCodes}"
                                                        th:value="${option.callingCode}"
                                                        th:text="${option.callingCode + ' ' + option.country}"
                                                >
                                            </select>
                                        </div>
                                        <div class="col-9">
                                            <input type="text" class="form-control" name="phoneNumber" id="phoneNumber"  placeholder="Phone Number">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="mb-3">
                                    <label class="form-label" for="address">Address</label>
                                    <textarea type="text" name="address" class="form-control fixed-textarea" id="address" rows="6" placeholder="Address"></textarea>
                                </div>
                            </div>
                            <div class="col-12">
                                <div>
                                    <label class="form-label" for="description">Description</label>
                                    <textarea type="text" name="description" class="form-control fixed-textarea" id="description" rows="6" placeholder="Address"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card mb-3">
            <div class="card-body">
                <div class="row">
                    <div class="col-6">

                    </div>
                    <div class="col-6">
                        <div class="row justify-content-end">
                            <div class="col-auto">
                                <button type="button" class="btn btn-secondary me-1" id="btn-cancel"><i class='bx bx-exit' ></i> Cancel</button>
                                <button type="button" class="btn btn-primary" id="btn-save"><i class='bx bx-save' ></i> Save</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <script th:inline="javascript" defer>
        window.addEventListener('load', () => {
            const countries = /*[[${countries}]]*/ [];

            $("#country").change(()=>{
                const countryId = $("#country option:selected").val();
                const selectCountry = countries.find(item => item.id == countryId);
                if(selectCountry.mutualTaxExemption){
                    $(`#country-badge`).html(`<span class="badge bg-label-success ">Mutual Tax Exemption Country</span>`);
                }else{
                    $(`#country-badge`).html('');
                }

            });
        });
    </script>
    <script src="/static/js/exhibitor/exhibitor-modify.js" defer></script>
</div>

</html>