<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout=http://www.ultraq.net.nz/thymeleaf/layout
      layout:decorate="~{layout/default}">>

<div layout:fragment="content-fragment" class="container-fluid flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">EXHIBITOR /</span> DETAILS</h4>
    <form id="modify-form" onsubmit="return false;">
        <div class="row mb-3">
            <div class="col-6">
                <div class="card h-100 mb-3">
                    <h5 class="card-header">COMPANY</h5>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-6">
                                <div class="mb-3">
                                    <label class="form-label" for="scai">SCAI Sales</label>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="scai" name="scai" disabled>
                                        <label class="form-check-label" for="scai"> Checked </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="mb-3">
                                    <label class="form-label" for="sca">SCA MEMBERSHIP</label>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="sca" name="sca" disabled>
                                        <label class="form-check-label" for="sca"> Checked </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="mb-3">
                                    <label class="form-label" for="company">Company</label>
                                    <input type="text" class="form-control-plaintext" id="company" name="company" placeholder="Company" disabled readonly>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="mb-3">
                                    <label class="form-label" for="brand">Brand</label>
                                    <input type="text" class="form-control-plaintext" id="brand" name="brand" placeholder="Brand" disabled readonly>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="mb-3">
                                    <label class="form-label" for="industry">Industry</label>
                                    <input type="text" class="form-control-plaintext" id="industry" disabled readonly>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="mb-3">
                                    <div class="row">
                                        <div class="col-auto">
                                            <label class="form-label" for="country" id="">Country</label>
                                        </div>
                                        <div class="col-auto ps-0">
                                            <div id="country-badge"></div>
                                        </div>
                                    </div>
                                    <input type="text" class="form-control-plaintext" id="country" disabled readonly>
                                </div>
                            </div>

                            <div class="col-6">
                                <div class="mb-3">
                                    <label class="form-label" for="sponsor">Sponsor</label>
                                    <input type="text" class="form-control-plaintext" id="sponsor" disabled readonly>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="mb-3">
                                    <label class="form-label" for="earlyApplication">Early Application</label>
                                    <input type="text" class="form-control-plaintext" id="earlyApplication" disabled readonly>
                                    </select>
                                </div>
                            </div>
                            <div class="col-6">
                                <label class="form-label" for="applicationType">Application Type</label>
                                <input type="text" class="form-control-plaintext" id="applicationType" disabled readonly>
                            </div>
                            <div class="col-6">
                                <div class="mb-3">
                                    <label class="form-label" for="applicationDate">Application Date</label>
                                    <input type="text" class="form-control-plaintext" id="applicationDate" disabled readonly>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="mb-3">
                                    <label class="form-label" for="homepage">Homepage</label>
                                    <div class="row">
                                        <div class="col-1">
                                            <p class="form-p-plaintext text-end"><i class='bx bxs-home' ></i></p>
                                        </div>
                                        <div class="col-11">
                                            <p class="form-p-plaintext"  id="homepage">
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <label class="form-label" for="instagram">sns</label>
                                    <div class="row">
                                        <div class="col-1 mb-2">
                                            <p class="form-p-plaintext text-end"><i class='bx bxl-instagram-alt'></i></p>
                                        </div>
                                        <div class="col-11 mb-2">
                                            <p class="form-p-plaintext" id="instagram">
                                        </div>
                                        <div class="col-1 mb-2">
                                            <p class="form-p-plaintext text-end"><i class='bx bxl-facebook-square' ></i></p>
                                        </div>
                                        <div class="col-11 mb-2">
                                            <p class="form-p-plaintext" id="facebook">
                                        </div>
                                        <div class="col-1">
                                            <p class="form-p-plaintext text-end"><i class='bx bx-notepad'></i></p>
                                        </div>
                                        <div class="col-11">
                                            <p class="form-p-plaintext" id="etcSns">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card h-100">
                    <h5 class="card-header">CONTACT</h5>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12">
                                <div class="mb-3">
                                    <label class="form-label" for="contactName">NAME</label>
                                    <input type="text" class="form-control-plaintext" id="contactName" disabled readonly>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="mb-3">
                                    <label class="form-label" for="jobTitle">JOB TITLE</label>
                                    <input type="text" class="form-control-plaintext" id="jobTitle" disabled readonly>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="mb-3">
                                    <label class="form-label" for="email">Email</label>
                                    <input type="text" class="form-control-plaintext" id="email" disabled readonly>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="mb-3">
                                    <label class="form-label" for="callingCode">Phone Number</label>
                                    <div class="row">
                                        <div class="col-2">
                                            <input type="text" class="form-control-plaintext" id="callingCode" disabled readonly>
                                        </div>
                                        <div class="col-10">
                                            <input type="text" class="form-control-plaintext" id="phoneNumber" disabled readonly>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="mb-3">
                                    <label class="form-label" for="address">Address</label>
                                    <textarea type="text" class="form-control-plaintext fixed-textarea" id="address" rows="5" disabled readonly></textarea>f
                                </div>
                            </div>
                            <div class="col-12">
                                <div>
                                    <label class="form-label" for="description">Description</label>
                                    <textarea type="text" class="form-control-plaintext fixed-textarea" id="description" rows="5" disabled readonly></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-12">
                <div class="card">
                    <h5 class="card-header">INVITATION</h5>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-6">
                                <div class="row">
                                    <div class="col-auto d-flex align-items-center">
                                        <span class="badge bg-label-info">BADGE</span>
                                    </div>
                                    <div class="col-auto">
                                        <input type="number" id="sendBadgeCount" class="form-control-plaintext w-px-100 text-center d-inline-block" disabled readonly> / <input type="number" id="badgeCount" class="form-control-plaintext w-px-100 text-center d-inline-block"  disabled readonly>
                                    </div>
                                    <div class="col-auto d-flex align-items-center">
                                        <span class="badge bg-label-warning">INVITATION</span>
                                    </div>
                                    <div class="col-auto">
                                        <input type="number" id="sendInvitationCount" class="form-control-plaintext w-px-100 text-center d-inline-block"  disabled readonly> / <input type="number" id="invitationCount" class="form-control-plaintext w-px-100 text-center d-inline-block"  disabled readonly>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="col-12">
                                    <div class="row justify-content-end">
                                        <div class="col-auto d-flex align-items-center">
                                            <label class="form-label m-0" for="boothCount">Booth</label>
                                        </div>
                                        <div class="col-4">
                                            <div class="input-group">
                                                <span class="input-group-text">NUMBER</span>
                                                <input type="text" class="form-control" id="boothNumber" placeholder="number">
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="input-group">
                                                <span class="input-group-text">COUNT</span>
                                                <input type="number" class="form-control" id="boothCount">
                                            </div>
                                        </div>
                                        <div class="col-auto ps-0">
                                            <button type="button" class="btn btn-primary"  id="btn-booth-update"><i class='bx bx-save' ></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <table id="add-invitation-datatable" class="table table-hover"></table>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-12">
                <div class="nav-align-top mb-4">
                    <ul class="nav nav-tabs nav-fill" role="tablist">
                        <li class="nav-item">
                            <button type="button" class="nav-link active" role="tab" data-bs-toggle="tab" data-bs-target="#send-history" aria-controls="send-history" aria-selected="true">
                                <i class="tf-icons bx bx-history"></i> INVITATION SEND HISTORY
                            </button>
                        </li>
                        <li class="nav-item">
                            <button type="button" class="nav-link" role="tab" data-bs-toggle="tab" data-bs-target="#invitation-send" aria-controls="invitation-send" aria-selected="false">
                                <i class="tf-icons bx bx-mail-send"></i> INVITATION SEND
                            </button>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade active show" id="send-history" role="tabpanel">
                            <div class="row justify-content-end">
                                <div class="row justify-content-end">
                                    <div class="col-6">
                                        <div class="row">
                                            <div class="col-4">
                                                <select id="search-type" class="form-select">
                                                    <option value="E" selected>Email</option>
                                                    <option value="N">Name</option>
                                                </select>
                                            </div>
                                            <div class="col-8 ps-1">
                                                <input type="text" class="form-control" value="" placeholder="Keyword" id="search-text">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-auto ps-0">
                                        <button type="button" class="btn btn-primary"  id="btn-search"><i class='bx bx-search' ></i></button>
                                    </div>
                                </div>
                            </div>

                            <table id="invitation-datatable" class="table table-hover"></table>
                        </div>
                        <div class="tab-pane fade" id="invitation-send" role="tabpanel">
                            <div class="row">
                                <div class="col-6">

                                </div>
                                <div class="col-6">
                                    <div class="row justify-content-end">
                                        <div class="col-6">
                                            <input class="form-control" type="file" name="file"  id="file" accept=".xlsx, xls">
                                        </div>
                                        <div class="col-auto ps-0">
                                            <button type="button" class="btn btn-primary" id="btn-excel-update"><i class='bx bx-duplicate'></i> Upload</button>
                                        </div>
                                        <div class="col-auto ps-0">
                                            <button type="button" class="btn btn-outline-primary" id="btn-table-refresh"><i class='bx bx-refresh'></i></button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <table id="invitation-send-datatable" class="table table-hover">
                                    </table>
                                </div>
                                <div class="col-12">
                                    <div class="row">
                                        <div class="col-6"></div>
                                        <div class="col-6">
                                            <div class="row justify-content-end">
                                                <div class="col-auto">
                                                    <button type="button" class="btn btn-primary ms-1" id="btn-send"><i class='bx bx-mail-send' ></i> Send</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card mb-3">
            <div class="card-body">
                <div class="row">
                    <div class="col-6">
                        <button type="button" class="btn btn-secondary me-1" id="btn-pre"><i class='bx bx-arrow-back'></i> List</button>
                    </div>
                    <div class="col-6">
                        <div class="row justify-content-end">
                            <div class="col-auto">
                                <button class="btn btn-danger ms-1" id="btn-delete"><i class='bx bx-trash'></i> Delete</button>
                                <button type="button" class="btn btn-primary ms-1" id="btn-update"><i class='bx bx-edit' ></i> Modify</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>


    <div class="modal fade" id="invitation-update-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
        <div class="modal-dialog modal-lg">
            <form class="modal-content" id="invitation-modify-form">
                <div class="modal-header">
                    <h5 class="modal-title">MODIFY INVITATION</h5>
                    <button
                            type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close"
                    ></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-6">
                            <div class="mb-3">
                                <label for="modify-type" class="form-label">TYPE</label>
                                <input type="text" id="modify-type" class="form-control-plaintext" readonly disabled/>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="mb-3">
                                <label for="modify-barcode" class="form-label">BARCODE</label>
                                <input type="text" id="modify-barcode"  class="form-control-plaintext" readonly disabled/>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="mb-3">
                                <label for="modify-email" class="form-label">Email</label>
                                <input type="text" id="modify-email"  class="form-control-plaintext" readonly disabled/>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="mb-3">
                                <label for="modify-name" class="form-label">name</label>
                                <input type="text" id="modify-name" name="modifyName" class="form-control"/>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="mb-3">
                                <label for="modify-company" class="form-label">Company</label>
                                <input type="text" id="modify-company" name="modifyCompany" class="form-control"/>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="mb-3">
                                <label for="modify-job-title" class="form-label">JOB TITLE</label>
                                <input type="text" id="modify-job-title" name="modifyJobTitle" class="form-control"/>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="mb-3">
                                <label class="form-label" for="modify-country">Country</label>
                                <input type="text"id="modify-country" name="modifyCountry" class="form-control"/>

                            </div>
                        </div>
                        <div class="col-6">
                            <div class="mb-3">
                                <label class="form-label" for="modify-city">City</label>
                                <input type="text" id="modify-city" name="modifyCity" class="form-control"/>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="mb-3">
                                <label class="form-label" for="modify-phone-number">Phone Number</label>
                                <input type="text" id="modify-phone-number" name="modifyPhoneNumber" class="form-control"/>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="h-100">
                                <div>
                                    <label class="form-label" for="modifyCancelled1">Status</label>
                                </div>
                                <div class="mt-2">
                                    <div class="d-flex align-items-center">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="modifyCancelled" id="modifyCancelled1" value="false">
                                            <label class="form-check-label" for="modifyCancelled1">Sent</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="modifyCancelled" id="modifyCancelled2" value="true">
                                            <label class="form-check-label" for="modifyCancelled2">Cancelled</label>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col-12">
                            <div class="mb-3">
                                <label class="form-label" for="modify-cancel-reason">DESCRIPTION</label>
                                <input type="text" id="modify-cancel-reason" name="modifyCancelReason" class="form-control" placeholder="Description"/>
                            </div>
                        </div>
                        <input type="hidden" id="invitationId" name="invitationId" class="form-control"/>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" id="btn-save">Save</button>
                </div>
            </form>
        </div>
    </div>



    <script src="/static/vendor/libs/sheetjs/xlsx.full.min.js" defer></script>
    <script src="/static/js/exhibitor/exhibitor-detail.js" defer></script>
    <script src="/static/js/exhibitor/datatable/invitation-history.js" defer></script>
    <script src="/static/js/exhibitor/datatable/invitation-send.js" defer></script>
</div>

</html>