<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout=http://www.ultraq.net.nz/thymeleaf/layout
      layout:decorate="~{layout/default}"
>

<section layout:fragment="content-fragment">
  <!--/*슬라이드 이미지*/-->
  <section class="component">
    <div class="component__div">
      <!--/*슬라이드 이미지 : 다건인 경우 template*/-->
      <section>
        <div id="carouselIndicators" class="carousel slide" data-bs-ride="carousel">
          <!--/*하단 버튼*/-->
          <div class="carousel-indicators"></div>
          <!--/*이미지 영역*/-->
          <div class="carousel-inner"></div>
          
          <!--/*좌우 버튼*/-->
        </div>
      </section>
      
      <h2 class="component__title-font--middle">The SCA Community Lounge introduces the activities of the Specialty Coffee Association and serves as a space for free communication and networking through specialty coffee.It also provided participants with a space for global coffee networking.</h2>
    </div>
  </section>
  
  <!--/*일정 정보*/-->
  <section class="component">
    <div class="component__div">
      <div class="d-flex flex-column gap-2">
        <h2 class="component__title-font--middle">SCA Community Lounge overview</h2>
        <div class="d-flex align-items-start gap-2">
          <svg class="flex-shrink-0" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M12 12H11.25C11.25 12.3228 11.4566 12.6094 11.7628 12.7115L12 12ZM12.75 7C12.75 6.58579 12.4142 6.25 12 6.25C11.5858 6.25 11.25 6.58579 11.25 7H12.75ZM14.7628 13.7115C15.1558 13.8425 15.5805 13.6301 15.7115 13.2372C15.8425 12.8442 15.6301 12.4195 15.2372 12.2885L14.7628 13.7115ZM12.75 12V7H11.25V12H12.75ZM11.7628 12.7115L14.7628 13.7115L15.2372 12.2885L12.2372 11.2885L11.7628 12.7115ZM21.25 12C21.25 17.1086 17.1086 21.25 12 21.25V22.75C17.9371 22.75 22.75 17.9371 22.75 12H21.25ZM12 21.25C6.89137 21.25 2.75 17.1086 2.75 12H1.25C1.25 17.9371 6.06294 22.75 12 22.75V21.25ZM2.75 12C2.75 6.89137 6.89137 2.75 12 2.75V1.25C6.06294 1.25 1.25 6.06294 1.25 12H2.75ZM12 2.75C17.1086 2.75 21.25 6.89137 21.25 12H22.75C22.75 6.06294 17.9371 1.25 12 1.25V2.75Z" fill="black"/>
          </svg>
          <p class="component__desc-font--middle fw-medium mb-0">May 15, 2025 (Thu) - May 17, 2025 (Sat)</p>
        </div>
        
        <div class="d-flex align-items-start gap-2">
          <svg class="flex-shrink-0" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M19.3332 9.33333C19.3332 5.28333 16.0498 2 11.9998 2C7.94984 2 4.6665 5.28333 4.6665 9.33333C4.6665 14.6667 11.9998 22 11.9998 22C11.9998 22 19.3332 14.6667 19.3332 9.33333Z" stroke="black" stroke-width="1.5" stroke-miterlimit="10" stroke-linejoin="round"/>
            <path d="M11.9998 12C13.4725 12 14.6664 10.8061 14.6664 9.33333C14.6664 7.86057 13.4725 6.66667 11.9998 6.66667C10.527 6.66667 9.33309 7.86057 9.33309 9.33333C9.33309 10.8061 10.527 12 11.9998 12Z" stroke="black" stroke-width="1.5" stroke-miterlimit="10" stroke-linejoin="round"/>
          </svg>
          <p class="component__desc-font--middle fw-medium mb-0">Main Lobby SCA Lounge (L318)</p>
        </div>
        
        <div class="d-flex align-items-start gap-2">
          <svg class="flex-shrink-0" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M15.75 2.62488V6.37488M8.25 2.62488V6.37488M3.5625 10.1249H20.4375M5.4375 4.49988H18.5625C19.598 4.49988 20.4375 5.33934 20.4375 6.37488V19.4999C20.4375 20.5354 19.598 21.3749 18.5625 21.3749H5.4375C4.40197 21.3749 3.5625 20.5354 3.5625 19.4999V6.37488C3.5625 5.33934 4.40197 4.49988 5.4375 4.49988Z" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
          <p class="component__desc-font--middle fw-medium mb-0">The SCA Community Lounge is an ongoing program.</p>
        </div>
      </div>
      
      <!--/*탭 컨텐츠*/-->
        <div class="d-flex flex-column gap-4">
          <!--/* 탭*/-->
          <nav class="fs-18px fs-md-22px">
            <div class="nav nav-tabs nav-fill flex-nowrap" id="nav-tab" role="tablist">
              <!--/* 단건 탭인 경우 커스텀*/-->
              <div class="nav-link active rounded-0" id="nav-day1-tab" data-bs-toggle="tab" data-bs-target="#day1" role="tab" aria-controls="day1" aria-selected="true">
                SCA Participation Session
              </div>
            </div>
          </nav>
          <!--/* 내용*/-->
          <div class="tab-content fs-18px fs-md-24px" id="scheduleTabs">
            <div class="tab-pane outline-none fade show active" id="day1" role="tabpanel" aria-labelledby="day1-tab" tabindex="0">
              <div class="row gy-4 component__desc-font--middle fw-semibold" id="day1Section">
                <div class="col-12">
                  <div class="row g-3">
                    <div class="col-12 col-md-2">
                      <div class="d-flex flex-md-column justify-content-center gap-3 gap-md-0 h-100 text-center p-3 bg-light">
                        <span>MAY 15</span>
                        <span>5:00 PM</span>
                      </div>
                    </div>
                    
                    <div class="col-12 col-md-10">
                      <div class="d-flex flex-column-reverse flex-md-row justify-content-between align-items-center h-100 bg-light ps-3 pb-3 pb-md-0">
                        <div class="py-md-3 w-100">
                          <p>AST (Authorized SCA Trainer) Mixer with Refreshments</p>
                          <div>
                            <span class="component__desc-font--small fw-normal">Authorized SCA Trainers (ASTs) are invited to the SCA Community Lounge at World of Coffee Jakarta 2025 for light refreshments and networking. ASTs are experienced professionals who offer quality courses benefiting both learners and the industry. Stop by to learn more and explore the next stage of your career.</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  
                  </div>
                </div>
                <div class="col-12">
                  <div class="row g-3">
                    <div class="col-12 col-md-2">
                      <div class="d-flex flex-md-column justify-content-center gap-3 gap-md-0 h-100 text-center p-3 bg-light">
                        <span>MAY 16</span>
                        <span>5:00 PM</span>
                      </div>
                    </div>
                    
                    <div class="col-12 col-md-10">
                      <div class="d-flex flex-column-reverse flex-md-row justify-content-between align-items-center h-100 bg-light ps-3 pb-3 pb-md-0">
                        <div class="py-md-3 w-100">
                          <p>SCA Competition Bodies/Chapters/Event Partners Mixer with Refreshments</p>
                          <div>
                            <span class="component__desc-font--small fw-normal">The wider SCA Community is invited to attend this mixer at the SCA Community Lounge at World of Coffee Jakarta 2025. Meet representatives from SCA competitions, Chapters, and Event Partners for light refreshments and a chance to connect.</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
  </section>
  

  
  <!--/* 제목 내용*/-->
  <section class="component">
    <div class="component__div">
      <h1 class="component__title-font--big">SCA ACTIVITIES</h1>
      <p class="component__desc-font--middle">The Specialty Coffee Association (SCA) is the largest global coffee trade association dedicated to making coffee better by fostering a global coffee community and supporting activities to make specialty coffee a thriving, equitable, and sustainable endeavor for the entire value chain. Through collaboration and progressive approaches, it supports the industry through research, standards, education, and events. Working around the world, the SCA elevates worldwide standards, providing value and connectivity to the growing global community. Learn more about the SCA on sca.coffee and by visiting the World of Coffee Jakarta.</p>
    </div>
  </section>
  
  <!--/* newsletter card*/-->
  <section class="component">
    <div class="component__div">
      <div class="position-relative text-center">
        <picture>
          <!--/* 웹 (768px 이상)*/-->
          <source srcset="https://kr.object.ncloudstorage.com/bucket-exporum-dev/woc/test-for-jakarta/contact-box/bg-05.webp" media="(min-width: 768px)">
          <!--/* 모바일 (기본)*/-->
          <img src="https://kr.object.ncloudstorage.com/bucket-exporum-dev/woc/test-for-jakarta/contact-box/bg-05-m.webp" class="w-100" alt="..." height="300" draggable="false" loading="lazy">
        </picture>
        
        <!--/* 흰색 오버레이*/-->
        <div class="position-absolute top-0 start-0 w-100 h-100 bg-white-opacity-40"></div>
        
        <div class="position-absolute top-50 start-50 translate-middle d-flex flex-column align-items-center justify-content-center w-100 gap-5">
          <div>
            <h3 class="component__desc-font--big fw-bold mb-4">Stay updated with World of Coffee Jakarta Newsletter!</h3>
            <p class="component__desc-font--middle m-0">Detailed schedule for each program will be noticed later.</p>
            <p class="component__desc-font--middle m-0">Stay updated with World of Coffee Asia Newsletter!</p>
          </div>
          
          <a href="/newsletter/subscribe" class="component__button--primary-one component__button--primary-dark gap-2">
            <span>GET UPDATES</span>
          </a>
        </div>
      </div>
    </div>
  </section>
  
  <script src="/static/js/show-features/sca-community-lounge.js" defer></script>
</section>
</html>