<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout=http://www.ultraq.net.nz/thymeleaf/layout
      layout:decorate="~{layout/default}">>

<div layout:fragment="content-fragment" class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">SYSTEM /</span> CODE</h4>


    <div class="card mb-1">
        <div class="card-body">
            ddd
        </div>

    </div>

    <div class="card">
        <div class="card-body">
            ddd
        </div>
    </div>

</div>

</html>