<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="js-fragment" >
  <!--/* vendor */-->
  <script defer src="/static/vendor/libs/bootstrap/bootstrap.bundle.min.js"></script>
  <script defer src="/static/vendor/libs/jquery/jquery.min.js"></script>
  <script defer src="/static/vendor/libs/swiper/swiper-bundle.min.js"></script>
  <script defer src="/static/vendor/libs/select2/js/select2.min.js"></script>
  <script defer src="/static/vendor/libs/jquery-validation/jquery.validate.min.js"></script>
  <script defer src="/static/vendor/libs/pdf/pdf.min.js"></script>

  <!--/* 공통 JS */-->
  <script defer src="/static/js/common.js"></script>
</th:block>

</html>